<strong>Olá, {{ student }}</strong>
<p>Respondemos a sua pergunta.</p>
<p><strong>Pergunta: </strong>{{ question }}</p>
<p><strong>Resposta: </strong>{{ answer }}</p><br />
<small>Caso tenha mais dúvidas entre em contato com a nossa equipe através de nosso App</small><br />
