<strong>Olá, {{ student }}</strong>
<p>Muito obrigado por se matricular em nossa academia, segue abaixo as informações referente ao plano contratado</p>
<p>
  <strong>Plano contratado: </strong> {{ plan }} <br />
  <strong>Data de término: </strong> {{ endDate }} <br />
  <strong>Preço da mensalidade: </strong>R$ {{ price }}
</p>

